<div class="admin_panel">
    <a href="#" class="toggle_panel" bind="toggle">Admin</a>

    <div class="admin_controls">
        <a href="#" bind="add_trick">Добавить трюк</a>

        <% if (!!current_trick) { %>
            <a href="#" bind="edit_trick">Редактировать</a>
            <a href="#" bind="delete_trick">Удалить</a>
        <% } %>

    </div>
</div>
