<a href="#" class="toggle_panel" bind="toggle">Admin</a>

<div class="admin_controls">
    <a href="#admin/tricks/">Трюки</a>

    <nobr><a href="#admin/videos/">Видео
        <% if (checkins_count > 0) { %>
            <span>(<%= checkins_count %>)</span>
        <% } %>
    </a>
    </nobr>
    <a href="#admin/users/">Юзеры</a>
</div>
