<a href="#" class="toggle_panel" bind="toggle">Admin</a>

<div class="admin_controls">
    <a href="#admin/tricks/">Трюки</a>

    <nobr><a href="#admin/videos/">Видео
        <% if (notice_count['0'] > 0) { %>
            <span>(<%= notice_count['0'] %>)</span>
        <% } %>
    </a>
    </nobr>
    <a href="#admin/users/">Юзеры</a>
</div>
