<% if (!trick.isNew()) { %>
    <h4><%= trick.get_title() %></h4>
<% } else { %>
    <h4>Добавить новый трюк</h4>
<% } %>
<form></form>
<div class="trick_add_form__controls">
    <button type="button" class="trick_add__save">Сохранить</button>
    <button type="button" class="trick_add__close">Отмена</button>
</div>
