{# TODO: может это методами сделать? Похожие методы используются на js стороне, надо как-то оптимизировать #}
{% macro trick_title(trick) %}
    {{ " ".join((trick.title, trick.direction or '')) }}
{% endmacro %}

{% macro trick_url(trick) %}
    http://{{ request.host }}{{ '/tricks/trick%s/' % trick.id }}
{% endmacro %}

{% macro render_titul(user) %}
    {% if user.get('titul') %}
        <div class="trick__user_status">
            {{ user.get('titul')['title'] }}
        </div>
    {% endif %}
{% endmacro %}

{% macro trick_preview(trick) %}
    <tr class="trick{{ ' user_do_this' if trick.user_do_this }}">
        <td class="trick__image">
            <a href="{{ trick_url(trick) }}">
                <img src="{{ config.HOST }}/static/images/{{ trick.thumb }}" alt="" height="30">
            </a>
        </td>
        <td>
            <a href="{{ trick_url(trick) }}">{{ trick_title(trick) }}</a>
        </td>
        <td>
            {% if user %}
                <a href="{{ url_for('mobile_checkin_page') }}?trick={{ trick.id }}&cones={{ trick.cones }}" class="checkin_link">+</a>
            {% endif %}
        </td>
    </tr>
    <tr class="separator"><td colspan="3"></td></tr>
{% endmacro %}

<html>
<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Besttrick Mobile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile.css') }}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div id="content">
        <div class="header">
            <div class="site_title">
                <a href="/">Besttrick</a>
                
            </div>
            <table class="user_block">
                <tbody>
                    <tr>
                    {% if user %}
                        <td style="text-align:left;">
                            <a href="{{ url_for('logout') }}">выход</a>
                        </td>
                        <td>
                            {{ user.nick }}<br>                
                            <a href="{{ url_for('mobile_rating') }}">рейтинг: {{ user.rating }}</a>    
                        </td>
                        <td class="photo">
                            <img src="{{ user.photo }}">
                        </td>
                    {% else %}
                        <td>
                            <a href="http://loginza.ru/api/widget/?token_url=http://{{ request.host }}/login/&providers_set=vkontakte,twitter,facebook" class="button">Авторизоваться</a>
                        </td>
                        <td class="photo">
                            <img src="{{ url_for('static', filename='i/ava.jpg') }}">
                        </td>
                    {% endif %}
                    </tr>
                </tbody>
            </table>
        </div>

        {% block msgs_block %}
            {% set msgs = get_flashed_messages(with_categories=true) %}
            <ul class="messages">
                {% for category, message in msgs %}
                  <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endblock %}

        {% block content %}{% endblock %}
        
        <div class="copyright">
            <a href="http://zerc.ru">zerc.ru</a> @ 2012-2013, <a href="{{ config['HOST'] }}" rel="nofollow">Полная версия сайта</a>
        </div>
    </div>
</body>
</html>




