{# TODO: может это методами сделать? Похожие методы используются на js стороне, надо как-то оптимизировать #}
{% macro trick_title(trick) %}
    {{ " ".join((trick.title, trick.direction or '')) }}
{% endmacro %}

{% macro trick_url(trick) %}
    http://{{ request.host }}{{ '/tricks/trick%s/' % trick.id }}
{% endmacro %}

{% macro trick_preview(trick) %}
<li class="trick{{ ' user_do_this' if trick.user_do_this }}">
    <img src="{{ config.HOST }}/static/images/{{ trick.thumb }}" alt="" height="30">
    <a href="{{ trick_url(trick) }}">{{ trick_title(trick) }}</a>
    {% if user %}
        <a href="{{ url_for('mobile_checkin_page') }}?trick={{ trick.id }}" class="checkin_link">+</a>
    {% endif %}
</li>
{% endmacro %}

<html>
<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Besttrick Mobile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile.css') }}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div id="content">
        <div class="header">
            <div class="site_title">
                <a href="/">Besttrick</a>
                {% if user %}<a href="{{ url_for('logout') }}" class="exit">выход</a>{% endif %}
            </div>

            <div class="user_block">
                {% if user %}
                    <img src="{{ user.photo }}" class="photo">
                    {{ user.nick }}
                    <br>                
                    <a href="{{ url_for('mobile_rating') }}">рейтинг: {{ user.rating }}</a>
                {% else %}
                    <img src="{{ url_for('static', filename='i/ava.jpg') }}" class="photo">
                    <a href="http://loginza.ru/api/widget/?token_url=http://{{ request.host }}/login/&providers_set=vkontakte,twitter,facebook" class="button">Авторизоваться</a>
                    <br>
                    
                {% endif %}
            </div>
            <div class="clear"></div>
        </div>

        {% block msgs_block %}
            {% set msgs = get_flashed_messages(with_categories=true) %}
            <ul class="messages">
                {% for category, message in msgs %}
                  <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endblock %}

        {% block content %}{% endblock %}
        
        <div class="copyright">
            <a href="http://zerc.ru">zerc.ru</a> @ 2012-2013, <a href="{{ config['HOST'] }}" rel="nofollow">Полная версия сайта</a>
        </div>
    </div>
</body>
</html>




