{% extends 'mobile/base.html' %}
{% from 'mobile/base.html' import trick_title with context %}


{% block extra_head %}
    <style>
        .form_holder {
            border:1px solid #aeaeae; margin:5px; padding:5px;
        }

        .form_holder form {margin:0;}
        .form_holder form button {margin:0;}
    </style>
{% endblock %}

{% block content %}
    {% set msgs = get_flashed_messages(with_categories=true) %}

    <ul class="messages">
        {% for category, message in msgs %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>

    <div class="form_holder">
        <form action="{{ url_for('mobile_checkin') }}" method="POST">
            <label for="trick_id">Трюк:</label>
            <select name="trick_id" id="trick_id">
                {% for trick in tricks %}
                    <option value="{{ trick.id }}" {% if trick.id == request.args.get('trick')|int %}selected="selected"{% endif %}>{{ trick_title(trick) }}</option>
                {% endfor %}
            </select>

            <label for="cones">Сколько конусов:</label>
            <input type="text" name="cones" id="cones" />

            <button type="submit">Я Делаю!</button>
        </form>
    </div>
{% endblock %}
