{% extends 'mobile/base.html' %}
{% from 'mobile/base.html' import trick_title with context %}

{% block content %}
    <div class="form_holder">
        <form action="." method="POST">
            <label for="trick_id">Трюк:</label>
            <select name="trick_id" id="trick_id">
                {% for trick in tricks %}
                    <option value="{{ trick.id }}" {% if trick.id == request.args.get('trick')|int %}selected="selected"{% endif %}>{{ trick_title(trick) }}</option>
                {% endfor %}
            </select>

            <label for="cones">Сколько конусов:</label>
            <input type="text" name="cones" id="cones" value="{{ request.args.get('cones')|int or 0 }}"/>
            <input type="hidden" name="ref" value="{{ request.referrer }}">
            <button type="submit">Я Делаю!</button>
        </form>
    </div>
{% endblock %}
