{% extends 'mobile/base.html' %}

{% block content %}
    <h2>{{ trick_title(trick) }}</h2>
    <img class="trick__page__image" src="{{ config.HOST }}/static/images/trick{{ trick._id }}-0.jpg">
    <p>{{ trick.descr }}</p>

    <h3>Этот трюк делают:</h3>
   
    <div class="trick__users">
        {% for u in trick['users'] %}
            <div class="trick__user{{ ' trick__user_king' if loop.index0 == 0 else ''}}">
                <span class="left_block">{{ u['cones'] }}</span>
                <img src="{{ u['user']['photo'] }}" class="trick__user__photo">
                {# <a href="/profile{{ u['user']['id'] }}/">{{ u['user']['nick'] }}</a> #}
                {{ u['user']['nick'] }}
            </div>
        {% endfor %}
    </div>
    <div class="clear"></div>
{% endblock %}
