html, body {margin:0; padding:0; font-family:Arial; font-size:0.9em;}
a {text-decoration:underline;}
h2, h3 {font-size:1.5em; line-height:1.5em; margin:0;}
h3 {font-size:1.3em;}
#content {padding:0 5px;}

.header {padding:5px;margin:0 -5px; text-align:left;}
.header .site_title {
    font-size:16px; font-weight:bolder; margin:-5px -5px 5px -5px; 
    padding-left:5px; background-color:#B55A5A;
}
.site_title a {color:#fff;}
.site_title a.exit {
    float:right; font-size:12px; font-weight:normal; margin-right:5px;
}

.user_block {
    text-align:right; width:100%; max-width:480px;
    border-bottom:1px solid #aeaeae; 
}
.user_block td {height:50px; vertical-align:middle;}
.user_block .photo {width:45px;}
.user_block .photo img {height:40px; width:40px;}
.user_block a.button {margin:5px 0 0 0;}

table.trick_list {margin:0px; border:0; width:100%; max-width:480px;}
table.trick_list tr td {height:30px; vertical-align:middle;}
table.trick_list tr.separator td {height:10px;}
table.trick_list td.trick__image {width:45px; }
table.trick_list .trick {
    background-color:rgb(243, 243, 243); line-height:30px; height:30px;
}

table.trick_list .trick a {}


table.trick_list .user_do_this {background-color:#fdecdd;}

a.checkin_link {
    float:right; background:red; width:30px; text-align:center;
    color:#fff; font-size:18; text-decoration:none;
}
a.checkin_link:hover {color:#000;}

table.trick_page {width:100%; max-width:480px;}
.trick__page__image {max-width:100%; margin-top:5px;}
.trick__users {width:100%; max-width:480px;}
.trick__user {
    height:40px; clear:both; float:none;
    margin-bottom:10px; background:white; line-height:35px;
    text-align:right;
}
.trick__user span.left_block {
    display:block; float:left; background:#AEAEAE; text-align:center;
    width:40px; height:40px; line-height:36px; color:white; margin-right:10px;
}
.trick__user__photo {height:40px; width:40px; float:right; margin-left:10px;}
.trick__user a {float:right;}

.trick__user_king {background:#B55A5A; color:#fff;}
.trick__user_king a {color:#fff;}
.trick__user_king a:hover {color:#f4f4f4;}
.no_one {padding-left:10px; width: 490px;}

.copyright {text-align:center; font-size:10px; color:#aeaeae; border-top:1px solid #aeaeae;}

ul.messages {margin:0 5px;}
.messages li {padding:0 5px; margin:0 -5px 10px -5px;}
.messages .error {background-color:#D35757; border:1px solid red;}
.messages .success {background-color:#8DE27C; border:1px solid green;}

.form_holder {border:1px solid #aeaeae; margin:5px 0px 15px 0px; padding:5px;}
.form_holder form {margin:0;}
.form_holder form button {margin:0;}

.trick__user_status {
  height:10px; line-height:10px; margin-top:-10px; font-size:10px;
}
