/* Common */
html * {font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;}
h1 {
    font-size:28px; line-height:1.5; margin-left:10px; margin-bottom:0; display:block; height:50px;
    font-family: HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2 {
    font-size:22px; text-transform:uppercase;
}

body {background-color:#F2F2F2;}

body .as_block {display:block;}

a.logo {
    display:block; height:24px; width:128px; text-indent:-9999px; margin-top:5px;
    background:url('/static/i/logo.png') 0 0 no-repeat; float:left;
}

.copyright{
    border-top:1px solid #E8E9EB; margin-top:10px; padding:5px;
    text-align: center;
}

.closed {padding:10px; text-shadow:rgba(0, 0, 0, .2) 0 1px 0; color:#555;}
.closed .six.columns {position:relative; width:400px; border-right:1px solid #f2f2f2; margin-left:0;}
.closed .six.alpha {margin:0; border:0;}

#jr_holder #jr_wrap {position:relative; text-align:left; width:auto; margin-bottom:20px;}
#jr_holder #jr_inner {border:1px solid #ec8888; padding:10px; font-size:1em;}

#jr_holder p {margin:0; line-height:1.7;}
#jr_holder #jr_inner ul {display:block; width:500px; margin:5px auto;}
#jr_holder #jr_inner ul li {float:left; margin-right:10px; width:auto; height:auto; text-align:left;}
#jr_holder #jr_inner ul li a {font-size:1em;}

.user_container {
    position:relative; display:block; float:right; line-height:40px; margin-right:10px;
}
.user_container .logout {margin-left:15px;}
.user_container .loginza img {margin-bottom:-3px;}

.container {width:846px;}

.feedback {position:relative; float:right; margin-right:145px; line-height:40px;}
.feedback_holder {
    position: absolute; display:none; width: 220px; z-index:100;
    background: white; left: -180px; top: 42px; padding:0 15px;
    border: 1px solid #AEAEAE; box-shadow: 0 0 5px #aeaeae;
}
.feedback_arr {
    height:10px; width:19px; float:right; margin-top:-11px; margin-right:-15px;
    background:url('/static/i/common.png') 0 0 no-repeat;
}
.feedback_holder .error {border-color:red;}
.feedback_holder .success {text-align:center; color:#4b8930;}
.show_form .feedback_holder {display:block;}

.show_upload_form {overflow:hidden;}
.show_upload_form .upload_video_form_overflow,
.show_upload_form .upload_video_form_container {display:block;}
.upload_video_form_overflow {
    display:none; position:absolute; width:100%; opacity:0.9; -moz-opacity:0.9; filter:alpha(opacity=9);
    top:0; background-color: #F2F2F2; overflow:hidden;
}
.upload_video_form_container {
    position:fixed; display:none; top:100px; left:40%; width:300px;
    background:white; border: 1px solid #AEAEAE; padding:10px;
}

.upload_video_form_container h3 {}
.upload_video_form_container form {margin:0;}
.upload_form__controls {margin-top:10px;}
.upload_form__upload {float:left;}
.upload_form__loader {
    display:none; float:left; width:60px; height:20px; background:url('/static/i/ajax-loader.gif') 0 0 no-repeat;
    margin:6px 0 0 10px;
}

button.disabled {background:#EEE; border-color:#AAA; cursor:default;}
button.disabled:hover {color:#444; border-color:#AAA; cursor:default;}

.upload_video_form_container p {margin:10px 0;}
.upload_video_form_container p.small {font-size:12px; margin:5px 0;}
.upload_form__close {float:right;}

.error_holder {color:red; font-size:12px; clear:both;}

/* Main page */
.tricks_list {
    margin:-15px 0 0 -15px;
}

.trick {
    position:relative; display:inline-block; width:250px; padding:10px;
    margin:15px 0 0 15px; border:1px solid #E8E9EB; background-color:#fff;
}
.trick__title {
    display:block; margin-bottom:10px; vertical-align:5px; font-weight:bolder;
}
.trick img {float:left; margin-right:10px;}

.trick .stats__row {
    float:left; width:120px;
}

.row__best_user {margin-top:15px; text-indent:15px;}
.stats__row a.view_profile {
    display:block; height:20px; overflow:hidden; text-indent:0px;
    padding-left:15px; background:url('/static/i/common.png') -20px 6px no-repeat;
}
.row__best_user .no_king {text-indent:0;}

a.trick__dialog_control {
    margin: 0;
    float: right;
    display: block;
    padding: 0 2px;
    text-decoration: none;
    background-color: red;
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 18px;
    color: white;
    -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}
a.trick__dialog_control:hover {color:#333;}

div.dialog_overflow {
    background-color: #CCC;
    opacity: 0.96;
    display:none; padding-top:0; padding-bottom:0;
}

.trick__dialog {
    position: absolute;
    height: 90px;
    width: 230px;
    left: 10px;
    padding:10px;
    display:none;
}

a.dialog__close {
    position: absolute; right: 10px; top:0; color: white; text-decoration: none;
}

.trick__dialog .cones, .full_trick__dialog .cones {
    width:110px; text-align:center; margin:0 5px 10px 0; display:inline;
}

.trick__dialog .video_url {
    display:inline; width:110px;
}

.trick__thumb {width:120px; height:90px;}

.showing_dialog .dialog_overflow,
.showing_dialog .trick__dialog {display: block;}

.trick__dialog .dialog__save {margin-left:15px;}
.user_do_this {background-color:#fdecdd;}
.user_do_this .user_do_this_icon {display:block}
.user_do_this_icon {
    display:none; background:url('/static/i/common.png') 0px -45px no-repeat;
    width:10px; height:10px; position:absolute; top:15px; right:15px;
}

.tricks_filter {
    padding:10px 170px 10px 10px; margin-bottom:10px; border-bottom:1px solid #E8E9EB;
    background-color:#fefefe;
}
.tricks_filter__tag {
    float:right; margin-left:10px; padding:5px 10px; color:#555;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; 
}

a.tricks_filter__tag:hover {color:#555; text-decoration:none;}

.major_tag {float:left; margin-right:10px;}

.tag__selected, .tag__selected:hover {background:#B55A5A; color:#fff; text-decoration:none;}

/* Trick full page */
.trick__users {float:left;}
.trick__user {
    width:500px; height:40px; clear:both; float:none;
    margin-bottom:10px; background:white; line-height:35px;
}
.trick__user span {
    display:block; float:left; background:#AEAEAE; text-align:center;
    width:40px; height:40px; line-height:36px; color:white;
}
.trick__user__photo {height:40px; width:40px; float:right; margin-left:10px;}
.trick__user a {float:right;}

.trick__user_king {background:#B55A5A;}
.trick__user_king a {color:#fff;}
.trick__user_king a:hover {color:#f4f4f4;}
.no_one {padding-left:10px; width: 490px;}
.trick__info {position:relative; float:right; width:315px; background:white; padding:10px;}

.trick_video_preview {position:relative;}
.trick_video_preview img {width:315px; height:190px;}
.trick_video_preview_button {
    width:25px;height:25px;position:absolute;left:140px;top:75px;
    background:#CCC url('/static/i/common.png') 9px -14px no-repeat;
    border:1px solid #333; 
    -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
}

.full_trick__dialog_holder {
    margin:-10px -10px 10px -10px; padding:10px; padding-bottom:9px; 
    border-bottom: 1px solid #E8E9EB;
}
.full_trick__dialog_holder h5 {display:inline; line-height:20px;}
a.check_full_trick_icon {
    padding:6px; background:#aeaeae; color:#fff; margin-left:10px;
    -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;
}

.full_trick__dialog {
    position:absolute; height:41px; width:329px; top:0; left:0; display: none;
    padding:6px 0 6px 6px;
}

.full_trick__dialog .dialog__close {
  display:block; position:absolute; width:20px; height:20px; right:-20px; top:10px;
  text-align:center; background:#A4A4A4; 
}
.full_trick__dialog .dialog__save {
  display:block; position:absolute; width:20px; height:20px; top:10px; right:10px;
  text-align:center; color:#fff; background-color:red; text-decoration:none; font-size:18px;
}
.full_trick__dialog .dialog__save:hover {color:#333;}

.full_trick__dialog input.cones {display:inline; width:50px;}
.full_trick__dialog input.video_url {display:inline; width:110px;}

.full_trick__dialog p {padding:5px;}
.showing_dialog .full_trick__dialog {display:block;}
a.has_video {display:block; width:10px; height:10px; float:left; margin:15px 0 0 15px; background:red;}

/* User page */
.user {}
.user input {margin-right:0; margin-bottom:10px;}
.user__tricks {float:left;}
.user__trick {
    width:525px; line-height:30px; height:37px;
    margin-left:10px; margin-bottom:12px; clear:both;
    vertical-align:middle; background:white;
}
.user__trick__thumb {width:50px; float:left; margin-right:10px;}
.user__trick a {vertical-align: middle;}
.user__trick span {
    display:block; float:right; background:#AEAEAE; text-align:center;
    width:30px; height:31px; padding:3px 10px; color:white; margin-left:10px;
}

.user__data {
    float:right; margin-left:0; margin-right:0; padding:10px; background:#fff;
    width:280px;
}
.user__data button.save {
    margin-bottom:0;
}
.no_user__tricks {margin-left:10px; padding:20px 0;}
.user__photo {float:right; width:50px; margin-left:10px;}
.save_status.done {color:green;}
.save_status.error {color:red;}

/* From Bootstrap: https://github.com/twitter/bootstrap */
.tooltip {
  position: absolute;
  z-index: 1020;
  display: block;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
}

.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.tooltip.top {
  margin-top: -2px;
}

.tooltip.right {
  margin-left: 2px;
}

.tooltip.bottom {
  margin-top: 2px;
}

.tooltip.left {
  margin-left: -2px;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top: 5px solid #b1b1b1;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #b1b1b1;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #b1b1b1;
  border-left: 5px solid transparent;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-right: 5px solid #b1b1b1;
  border-bottom: 5px solid transparent;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #b1b1b1;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
}

/* error tooltip styles */
.tooltip.top.error .tooltip-arrow {border-top: 5px solid red;}
.tooltip.left.error .tooltip-arrow {border-left: 5px solid red;}
.tooltip.bottom.error .tooltip-arrow {border-bottom: 5px solid red;}
.tooltip.right.error .tooltip-arrow {border-right: 5px solid red;}
.tooltip.error .tooltip-inner {background-color: red;}
