/*
    Common css rules for besttrick project
*/
body {
    margin:0;
    padding:0 0 0 0;
    color:#000;
    font:normal 0.9em/150% 'Arimo', arial, verdana, sans-serif;
    text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */    
}

a, a:visited {
    color:#333; 
    text-decoration:underline;
    outline:0;
}

a:hover, a:focus {color:#000;}

p a, p a:visited {
    line-height:inherit; 
}

.container {
    background-color:rgb(245, 245, 245);
}

.header {
    text-align:center;
    border-bottom:1px solid #cccccc;
    background-color:#ffffff;
}

.header .content {
    max-width:770px;
    margin:10px auto;
}

.header .logo {
    display:block;
    height:24px;
    width:128px;
    text-indent:-9999px;
    margin-top:5px;
    background:url('/static/i/logo.png') 0 0 no-repeat;
    float:left;
}

.footer {
    border-top:1px solid #E8E9EB;
    margin-top:10px;
    padding:5px;
    text-align:center;
    font-size:12px;
    background-color:#ffffff;
}
