/*
    Common css rules for besttrick project
*/
body {
    margin:0;
    padding:0 0 0 0;
    color:#000;
    font:normal 0.9em/150% 'Arimo', arial, verdana, sans-serif;
    text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */
}

a, a:visited {
    color:#333; 
    text-decoration:underline;
    outline:0;
}

a:hover, a:focus {color:#000;}

p a, p a:visited {
    line-height:inherit; 
}

.container {
    background-color:rgb(245, 245, 245);
    background: #efefef url(kickstart/img/gray_jean.png);
}

.header {
    text-align:center;
    border-bottom:1px solid #cccccc;
    background-color:#ffffff;
    padding:0 1.5em;
}

.header .feedback {
    cursor:pointer;
}

<<<<<<< Updated upstream
=======
.header .feedback:hover {
    color:red;
}

>>>>>>> Stashed changes
.header .content {
    max-width:770px;
    margin:10px auto;
}

.header .logo {
    display:block;
    height:24px;
    width:128px;
    text-indent:-9999px;
    margin-top:5px;
    margin-bottom:20px;
    background:url('/static/i/logo.png') 0 0 no-repeat;
    float:left;
}

.footer {
    border-top:1px solid #E8E9EB;
    margin-top:10px;
    padding:5px;
    text-align:center;
    font-size:12px;
    background-color:#ffffff;
}

/* From Bootstrap: https://github.com/twitter/bootstrap */
.tooltip {
    position: absolute;
    z-index: 1020;
    display: block;
    padding: 5px;
    font-size: 11px;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: visible;

}

.tooltip.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.tooltip.top {
    margin-top: -2px;
}

.tooltip.right {
    margin-left: 2px;
}

.tooltip.bottom {
    margin-top: 2px;
}

.tooltip.left {
    margin-left: -2px;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top: 5px solid rgba(25,25,25,0.92);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid rgba(25,25,25,0.92);
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgba(25,25,25,0.92);
    border-left: 5px solid transparent;
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-right: 5px solid rgba(25,25,25,0.92);
    border-bottom: 5px solid transparent;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #ffffff;
    line-height:1.5;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
    background:#212121;
    background-color: rgba(25,25,25,0.92);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
}

/* error tooltip styles */
.tooltip.top.error .tooltip-arrow {border-top: 5px solid red;}
.tooltip.left.error .tooltip-arrow {border-left: 5px solid red;}
.tooltip.bottom.error .tooltip-arrow {border-bottom: 5px solid red;}
.tooltip.right.error .tooltip-arrow {border-right: 5px solid red;}
.tooltip.error .tooltip-inner {
    background:red;
    background-color: rgb(255, 0, 0);;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
}
>>>>>>> Stashed changes
