/*
    All about users styles here
*/

.user_container {
    width:70%;
    text-align:right;
}

.user_container .user_rating {
    background:#AEAEAE;
    padding:2px 5px;
    margin-right: 10px;
    text-decoration: none;
    color:#fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.user_container .logout {
    color:rgb(104, 104, 104);
    margin-left:10px;
}


/* User page */
.user_page {
    margin-top:10px;
}

.user__data {
    padding:10px;
    border-left:2px solid #cccccc;
    background-color:#ffffff;
}

.user__data .user__photo {
    width:50px;
    height:50px;
    margin-right:10px;
    margin-bottom:-20px;
}

.user__data button.save {
    margin-top:-10px;
}

.user__data textarea {
    height:50px;
}

.user__data .notice {
    margin:25px 0 -25px 0;
}

.users_rating {
    width:auto;
}
