<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <meta name="author" content="zero13cool">
    <title>Besttrick - покажи свой лучший трюк!</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='i/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1><a href="#!" class="logo" title="Видео трюков на роликах">BestTrick</a></h1>

        <div class="content">
            <p>Мы искренне сожалеем, но вы были забанены на нашем сайте.</p>
            <p>Скорее всего вы нарушали общественный порядок и подрывали правовые нормы посетителей проекта. Если так - то вы это заслужили.</p>
            <p>Если же вы считаете, что бан - это не адекватная реакция на ваши действия - можете попробовать написать нам и объяснить ситуацию.</p>
        </div>

        <div class="copyright">
            &copy; <a href="http://www.zerc.ru/" target="_blank">zerc</a>, 2012 <span style="color:#aeaeae;">(бета)</span>
        </div>
    </div>

</body>
</html>
