<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    
    <meta http-equiv="Expires" CONTENT="0">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    
    <meta name='loginza-verification' content='0be429d674f95afc3c8b7f6395e045ce' />
    <meta name="google-site-verification" content="730fx2__4ABjLwjgIEtX_VXFlY6Jh_kgFekL4S3g-tk" />
    <meta name='yandex-verification' content='73b6ccbcf5720885' />

    <meta name="description" content="besttrick - сайт о сложных трюках на роликах">
    <meta name="keywords" content="трюки, трюки видео, трюки на роликах, соревнование" />
    <meta name="author" content="zero13cool">

    <link rel="shortcut icon" href="{{ url_for('static', filename='i/favicon.ico') }}">
    
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
