{% extends 'base.html' %}

 {% block title %}Besttrick - покажи свой лучший трюк! Трюки на роликах, фристайл слалом, видео трюков, рейтинг роллеров{% endblock %}

{% block extra_head %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {% if user_admin_lvl > 0 %}
        <link href="{{ url_for('static', filename='css/backbone-forms.css') }}" rel="stylesheet" type="text/css" />
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.reject.css') }}">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    {% if user == False %}
        <script src="http://loginza.ru/js/widget.js" type="text/javascript"></script>
    {% endif %}
    
    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% if user_admin_lvl > 0 %}
        <script src="{{ url_for('static', filename='js/backbone-forms.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/admin.js') }}"></script>
    {% endif %}


    <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>

    {% include 'counters.j2' %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="user_container"></div>
        <div class="feedback">
            <a href="#">Оставь совет</a>
            <div class="feedback_holder"></div>
        </div>
        <h1><a href="#!" class="logo" title="Видео трюков на роликах">BestTrick</a></h1>

        <div class="content">
            <div class="project_description">
                <p>Это проект для людей, которые любят сложные трюки и высокие оценки. Их цель - стремление к пределу своих возможностей. Они не боятся цифровой камеры и им есть что показать.</p>
            </div>
            <div class="six columns">
                <h2>Отмечайте свои достижения</h2>
                <p>Когда вы станете ПРО - то сможете посмотреть с чего начинали.</p>
                <span style="display:block; position:absolute; top:10px; right:2px; font-size:20px; color:red;">и</span>
            </div>

            <div class="six columns alpha">
                <h2>Соревнуйтесь</h2>
                <p>Следите за успехами друзей и не отставайте!</p>
            </div>

            <div class="clear"></div>

            <div class="im_intrigued">
                <p>Прямо сейчас проект активно тестируется, исправляются баги, рисуются иконки, пишутся пиар тексты - осталось подождать еще чуть-чуть, и мы откроемся.</p>

                <div id="jr_holder"></div>

                <p>Ну если вы чувствуете непреодолимое желание оказать помощь и ускорить процесс - то просто напишите мне на <a href="mailto:zero13cool@yandex.ru" style="color:red;">zero13cool@yandex.ru</a> и мы договоримся.</p>
            </div>
        </div>

        <div class="copyright">
            &copy; <a href="http://www.zerc.ru/" target="_blank">zerc</a>, 2012 <span style="color:#aeaeae;">(бета)</span> - <a href="#!about" title="О проекте">О проекте</a>, <a href="#!top" title="Топ пользователей">Топ пользователей</a>
        </div>
    </div>

    <div class="global_loader"></div>
    <div class="global_overflow"></div>
    
    <script type="text/javascript">
        $(function () {
            $.reject({
                reject: {
                    msieX       : true,
                    firefoxX    : true,
                    konqueror   : true,
                    operaX      : true,
                    chromeX     : true
                },
                imagePath: '/static/i/jreject/',
                header: null,
                paragraph1: null,
                close: false,
                paragraph2: "Чтобы в полной мере воспользоваться возможностями сайта - обновите, или смените свой браузер.<br>Сейчас в моде:"
            });
        });
    </script>

    <script type="text/javascript">
        (function () {
            var args = {
                'tricks' : {{ tricks|safe }},
                'user'   : {{ user|safe if user != False else 'false' }},
                'tags'   : {{ tags|safe }}
            };

            {% if user_admin_lvl > 0 %}
                window.app = new AdminApp(args);
            {% else %}
                window.app = new App(args);
            {% endif %}
        }());
    </script>
{% endblock %}
