<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Besttrick</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    {% if 'bt_open' in request.cookies %}
        {% assets "js_all" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        <script src="http://loginza.ru/js/widget.js" type="text/javascript"></script>
    {% endif %}


    <!-- Favicons
    ================================================== -->
    <!--
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->
</head>
<body>
    <div class="container">
        {% if 'bt_open' in request.cookies %}
            <div class="user_container"></div>
            <div class="feedback">
                <a href="#">Оставь совет</a>
                <div class="feedback_holder"></div>
            </div>
        {% endif %}
        <h1><a href="#!">BestTrick</a><span></span></h1>

        <div class="content">
            {% if 'bt_open' not in request.cookies %}
            <p>
                Проект находится в закрытом тестировании, и в ближайшее время 
                будет готов явить себя миру.
            </p>

            <p>
                Запаситесь терпением и приходите через пару дней - вдруг
                мы уже откроемся?
            </p>
            {% endif %}
        </div>
        
        <div class="copyright">
            <a href="http://www.zerc.ru/" target="_blank">zerc</a>, 2012
        </div>
    </div>
    

    {% if 'bt_open' in request.cookies %}
    <script type="text/javascript">
        (function () {
            new window.app({{ tricks|safe }}, {{ user|safe if user != False else 'false' }});
        }());
    </script>
    {% endif %}
</body>
</html>
