<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name='loginza-verification' content='0be429d674f95afc3c8b7f6395e045ce' />
    <title>Besttrick</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.reject.css') }}">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script src="http://loginza.ru/js/widget.js" type="text/javascript"></script>

    <!-- Favicons
    ================================================== -->
    <!--
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    --> 
</head>
<body>
    <div class="container">
        {% if 'bt_open' in request.cookies or config.OPENED %}
            <div class="user_container"></div>
            <div class="feedback">
                <a href="#">Оставь совет</a>
                <div class="feedback_holder"></div>
            </div>
        {% endif %}
        <h1><a href="#!" class="logo">BestTrick</a></h1>

        <div class="content {% if 'bt_open' not in request.cookies and not config.OPENED %}closed{% endif %}">
            {% if 'bt_open' not in request.cookies or config.OPENED  %}
            <div class="project_description">
                <p>Это проект для людей, которые любят сложные трюки и высокие оценки. Их цель - стремление к пределу своих возможностей. Они не боятся цифровой камеры и им есть что показать.</p>
            </div>
            <div class="six columns">
                <h2>Отмечайте свои достижения</h2>
                <p>Когда вы станете ПРО - то сможете посмотреть с чего начинали.</p>
                <span style="display:block; position:absolute; top:10px; right:2px; font-size:20px; color:red;">и</span>
            </div>

            <div class="six columns alpha">
                <h2>Соревнуйтесь</h2>
                <p>Следите за успехами друзей и не отставайте!</p>
            </div>

            <div class="clear"></div>

            <div class="im_intrigued">
                <p>Прямо сейчас проект активно тестируется, исправляются баги, рисуются иконки, пишутся пиар тексты - осталось подождать еще чуть-чуть, и мы откроемся.</p>

                <div id="jr_holder"></div>

                <p>Ну если вы чувствуете непреодолимое желание оказать помощь и ускорить процесс - то просто напишите мне на <a href="mailto:zero13cool@yandex.ru" style="color:red;">zero13cool@yandex.ru</a> и мы договоримся.</p>
            </div>
            
            {% endif %}
        </div>

        <div class="copyright">
            <a href="http://www.zerc.ru/" target="_blank">zerc</a>, 2012
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $.reject({
                reject: {
                    msieX       : true,
                    firefoxX    : true,
                    konqueror   : true,
                    operaX      : true,
                    chromeX     : true
                },
                imagePath: null,
                header: null,
                paragraph1: null,
                el: '#jr_holder',
                close: false,
                paragraph2: "Кстати, чтобы в полной мере воспользоваться возможностями сайта - обновите, или смените свой браузер.<br>Сейчас в моде:"
            });
        });
    </script>

    {% if 'bt_open' in request.cookies or config.OPENED  %}
    <script type="text/javascript">
        var args = {
            'tricks' : {{ tricks|safe }},
            'user'   : {{ user|safe if user != False else 'false' }},
            'tags'   : {{ tags|safe }}
        };

        {# В продакшене все приложение заворачивается в замыкание #}
        {% if config.DEBUG %}
            var app = new App(args);
        {% else %}
            (function () {
                new window.app(args);
            }());
        {% endif %}
    </script>
    {% endif %}
</body>
</html>
