<div class="col_7 trick__users">

    {#
	<table cellpadding="0" cellspacing="0" border="0"><tbody>
        <tr class="trick__user trick__user_king">
            <td class="trick__user_cones">10</td>
            <td class="trick__user_video_url">
                
            </td>
            <td class="trick__user_info">
                <a href="#!users/user10">
                    Portret-ist(ФОТОГРАФ)
                </a>
                
            </td>
            <td class="trick__user_photo" style="background-image:url('http://cs308519.userapi.com/u151016112/e_9797ffd4.jpg');">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="4" class="trick__breaker">&nbsp;</td>
        </tr>
        <tr class="trick__user">
            <td class="trick__user_cones">4</td>
            <td class="trick__user_video_url">
                
            </td>
            <td class="trick__user_info">
                <a href="#!users/user1">
                    Куршакова
                </a>
                
                    <div class="trick__user_status" title="Звание за получение достижения">
                        Jump King
                    </div>
                
            </td>
            <td class="trick__user_photo" style="background-image:url('http://cs5478.userapi.com/u1217861/e_d2cdb5a7.jpg');">&nbsp;</td>
        </tr>
    </tbody></table>
    #}
</div>

<div class="col_5 trick__info">   
	<h5><%= title %></h5>

    <div class="col_9 trick__video_holder">
        <div class="trick_video_preview">
        	<i class="icon-play-circle icon-4x"></i>
            <img src="<%= large_img() %>" />
        </div>
    </div>

    <ul class="col_3 trick__info__videos">
        <li class="video_thumb selected_video">
            <%= render_video_thumb(videos[0], 'Видео трюка ' + title) %> 
        </li>

        {#
        <% _.map(users, function (user, i) { %>
            <% if (user.video_url) { %>
                <li class="user_video">
                    <%= render_video_thumb(user.video_url, 'Видео трюка ' + title + ' от пользователя' + user.get('nick')) %>
                </li>
            <% } %>
        <% }) %>
        #}
        <li class="video_add" title="Вы делаете этот трюк?Добавляйте видео!">
        	<i class="icon-plus-sign-alt icon-4x pull-center"></i>
        </li>
    </ul>

    <div class="clear"></div>

    <div id="share" style="margin-left:-5px;"></div>

    <%= descr_html %>
</div>
<br class="clear">
