<% set_page_title('о проекте') %>
<div class="about">
<h5>1. Вычисление рейтинга пользователя на сайте.</h5>
<p>Максимальное кол-во банок, учитываемых без видеоподтверждения - 3 шт. При этом, накладывается понижающий коэффициент, до тех пор пока не будет залито видеоподтверждение о выполнении пользователем трюка.<br>
Это нужно для обеспечения объективности заносимых на сайт данных.</p>

<h5>2. "Банки" за трюк.</h5>
<p>Умение выполнять трюк обозначается количеством "банок". Для вращательных трюков исполняемых на одном месте (например "Chicken Leg") - это количество вращений вокруг одного конуса, для трюков с продвижением - количество конусов, на котором исолнялся трюк.</p>

<h5>3. Загрузка контента.</h5>
<p>Все видео материалы загружаются непосредственно на сервис <a href="http://www.youtube.com/" target="_blank">YouTube</a> в <a href="http://www.youtube.com/channel/UCmu4Ljqew2lOz8ey20gpbdQ/videos" target="_blank">канал сайта Besttrick.ru</a>. В описание видеоролика добавляется информация о пользователе, выполняеющем трюк, взятая из его профиля на сайте Besttrick.ru.<br>
Загружаемый видеоролик, должен содержать только демонстрацию одного трюка, выполняемого зарегистрированным пользователем сайта Besttrick.ru.<br>
Ролик не должен содержать порно, расистские или агит материалы, а также нарушать правила видеосервиса <a href="http://www.youtube.com/t/community_guidelines" target="_blank">YouTube</a><br>
При несоблюдении любого из вышеперечисленных условий, видео может быть удалено без дополнительного уведомления.</p>
</div>
