<% set_page_title('Достижения') %>

<div class="achives_filter">
    Показывать <a href="#level:0">не полученные</a> или полученные <a href="#level:1">1 уровня</a> <a href="#level:2">2 уровня</a> <a href="#level:3">3 уровня</a>
    <span class="toggle_all" title="Развернуть/свернуть все"></span>
</div>
<div class="achives_list">
    <div class="achive_list__cell"></div>
    <div class="achive_list__cell"></div>
    
    <div class="achive_list__empty">
        Нет элементов для отображения
    </div>
<br class="clear"></br>
</div>
